<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SubscriptionSoap">
          <security mode="Transport" />
        </binding>
        <binding name="PaymentSoap">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://ssl.ditonlinebetalingssystem.dk/remote/subscription.asmx"
        binding="basicHttpBinding" bindingConfiguration="SubscriptionSoap"
        contract="epaySubscriptionService.SubscriptionSoap" name="SubscriptionSoap" />
      <endpoint address="https://ssl.ditonlinebetalingssystem.dk/remote/payment.asmx"
        binding="basicHttpBinding" bindingConfiguration="PaymentSoap"
        contract="epayPaymentService.PaymentSoap" name="PaymentSoap" />
    </client>
  </system.serviceModel>
</configuration>